* {
    margin: 0px;
    padding: 0px;
    font-family: "Playfair Display", serif;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
}

.txt1{
    text-decoration: none;
}

/* background image */
.bgimg1 {
    background-image: url('/image/imgi_46_jewelry-3-breadcrumb.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bgimg2 {
    background-image: url('/image/imgi_47_jewelry-4-slider-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    padding: 0;
  }
  
  .bgimg2 {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  
  .bgimg3{
      background-image: url('/image/imgi_54_jewelry-4-banner-1.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 450px;
      color: white;
      text-align: center;
  }
  
  .bgimg4{
      background-image: url('/image/imgi_55_jewelry-4-banner-2.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 450px;
      color: white;
      text-align: center;
  }

.bgimg5{
    background-image: url('/image/imgi_58_jewelry-4-cate-3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}
.bgimg1, .bgimg2, .bgimg3, .bgimg4, .bgimg5, .bgimg6, .bgimg7, .bgimg8, .bgimg9:hover {
    transition: 0.5s;
    background-color: white;
    cursor: pointer;
}

.bgimg6{
    background-image: url('/image/imgi_59_jewelry-4-cate-4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

.bgimg7{
    background-image: url('/image/imgi_60_jewelry-4-cate-5.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

.bgimg8{
    background-image: url('/image/imgi_56_jewelry-4-cate-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

.bgimg9{
    background-image: url('/image/imgi_57_jewelry-4-cate-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

/* New jewelrys images */
.bgimg10{
    background-image: url('/image/imgi_1_jewelry-product-6.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

.bgimg11{
    background-image: url('/image/imgi_2_jewelry-product-7.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

.bgimg12{
    background-image: url('/image/imgi_3_jewelry-product-26.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

.bgimg13{
    background-image: url('/image/imgi_4_jewelry-product-27.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

.bgimg14{
    background-image: url('/image/imgi_61_jewelry-4-banner-3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
}
/* swiper */
.swiper {
      width: 100%;
      height: auto;
    }

    .swiper-slide {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
.swiper {
    width: 100%;
    height: 500px;
}


.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 25px;
}


/* button */
.btn1{
    background-color: #bfa18f;
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 50px;
    font-size: 20px;
    margin: 20px 0px 0px 0px;
    cursor: pointer;
  }

  .btn1:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
  }

@media (min-width: 1024px) {
  .dropdown:hover .dropdown-menu {
    display: block !important;
  }
}